backend/db.sqlite3
backend/votaciones/__pycache__/__init__.cpython-312.pyc
backend/votaciones/__pycache__/admin.cpython-312.pyc
backend/votaciones/__pycache__/apps.cpython-312.pyc
backend/votaciones/__pycache__/forms.cpython-312.pyc
backend/votaciones/__pycache__/models.cpython-312.pyc
backend/votaciones/__pycache__/urls.cpython-312.pyc
backend/votaciones/__pycache__/views.cpython-312.pyc
backend/votaciones/migrations/__pycache__/0001_initial.cpython-312.pyc
backend/votaciones/migrations/__pycache__/0002_resultadovotacion_alter_voto_options_and_more.cpython-312.pyc
backend/votaciones/migrations/__pycache__/__init__.cpython-312.pyc
backend/votaciones/migrations/0002_resultadovotacion_alter_voto_options_and_more.py
backend/votaciones/migrations/0001_initial.py
backend/fescvotaciones/__pycache__/wsgi.cpython-312.pyc
backend/fescvotaciones/__pycache__/urls.cpython-312.pyc
backend/fescvotaciones/__pycache__/settings.cpython-312.pyc
backend/fescvotaciones/__pycache__/__init__.cpython-312.pyc
backend/votaciones/utils/__pycache__/generar_reporte.cpython-312.pyc
backend/votaciones/utils/__pycache__/__init__.cpython-312.pyc
