<div class="footer-inner">
  <div class="footer-left">
    <img src="../public/icontec.png" alt="FESC" class="footer-logo">
    <div class="footer-cert-logos"></div>
  </div>
  <div class="footer-center">
    <h3 class="footer-org-title">Fundación de Estudios Superiores Comfanorte</h3>
    <p class="footer-legal">Personería Jurídica: Resolución 04172 del 25 de agosto de 1993</p>
    <p class="footer-paragraph">
      Institución de Educación Superior de carácter Tecnológico de derecho privado, de utilidad común y sin ánimo de lucro,
      redefinida mediante Resolución del MEN 747 del 19 de febrero de 2009, para ofertar programas Técnicos, Tecnológicos,
      Profesionales y Especializaciones.
    </p>
  </div>
  <div class="footer-right">
    <div class="footer-branch">
      <h4 class="footer-branch-title">Sede Cúcuta:</h4>
      <p class="footer-branch-text">Av 5 # 15-27, Centro</p>
      <p class="footer-branch-text">PBX +57 607 5880091 ext 101 102 103</p>
      <p class="footer-branch-text">312 354 1578 / 313 386 0356</p>
    </div>
    <div class="footer-branch">
      <h4 class="footer-branch-title">Sede Ocaña:</h4>
      <p class="footer-branch-text">Kdx 194-785, Vía Universitaria</p>
      <p class="footer-branch-text">PBX +57 607 5880091 ext 203</p>
      <p class="footer-branch-text">313 386 1614</p>
    </div>
  </div>
</div>