<div class="logo-section">
  <a href="https://fescvotaciones.com"><img src="public/Logo votacion.svg" alt="FESC Logo" class="vote-logo"></a>
</div>
<div class="center">
  <h1 class="titulo-evento">Tiempo faltante:</h1>
  <div class="contador">
    <div class="countdown">
      <div class="time-box"><div id="days" class="flip-card">00</div></div>
      <div class="time-box"><div id="hours" class="flip-card">00</div></div>
      <div class="time-box"><div id="minutes" class="flip-card">00</div></div>
      <div class="time-box"><div id="seconds" class="flip-card">00</div></div>
    </div>
  </div>
</div>
<img src="public/Logo-FESC+30.png" alt="FESC Logo" class="fesc-logo">
